{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }}  :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-8">
               <div class="card mb-3">
                  <div class="card-header">
                    Категория: <a href="{{ item.category.get_absolute_url }}"> {{ news_item.category }} </a>
                  </div>
                  <div class="card-body">
                      {% if item.photo %}
                      <img src="{{ item.photo.url }}" alt="" width="350" class="float-left mr-3">
                      {% else %}
                      <img src="https://static.wixstatic.com/media/3baccc_a6744d0d29d54f4ba5c0d4803810b0cd~mv2_d_4800_4502_s_4_2.png/v1/crop/x_0,y_753,w_4800,h_3007/fill/w_566,h_384,al_c,q_95,enc_auto/homepage.png" alt="" width="350" class="float-left mr-3">
                      {% endif %}
                        <h5 class="card-title">{{  news_item.title }}</h5>
                        <p class="card-text">{{  news_item.content|linebreaks }}</p>
                  </div>
                  <div class="card-footer text-muted">
                    {{  news_item.created_at|date:"Y-m-d H:i" }}
                  </div>
                </div>
          </div>
{% endblock %}

